html{
  font-family: 'Dancing Script', cursive;
}
#contedido{
  width: 900px;
}
#head{
  background-color: #5b7989;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  align-items: center;
  margin: 0 10% auto 10%;
  padding: 0 25px 0 25px;
  color: white;
  height: auto;
}
#navbar{
  width: 300px;
  text-align: center;
}
#m1{
  text-decoration: none;
}
.blanco{
  color: white;
}
#titulo{
  text-align: center;
  width: 300px;
}
.imgprincipal{
  width: 80%;
  height:auto;
  margin: 0 10% auto 10%;
  background-color: #82c3a6;
}
.foto1{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.imgsecundaria{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10% auto 10%;
  padding: 0;
  background-color: #d5c75f;
  border: 1px solid grey;
}
.bloque1 , .bloque2 {
  width: 500px;
}
.i1 , .i2{
  display: block;
  width: 100%;
  height:auto;
  margin: auto;
  border: 2px solid #82c3a6;
}
.i1:hover{
  transform: rotate(10deg);
}
.i2:hover{
  transform: translate(20px,-5px);
}
.sd{
  text-decoration: none;
  color: white;
}
figcaption{
  text-align: center;
  color: white;
}
.madre{
  background-color: #C6d5c5;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  align-items: flex-start;
  margin: 0 10% auto 10%;
  padding: 0 25px 0 25px;
  color: white;
  height: auto;
}
div [class*='son']{
  display: block;
  width: 155px;
}
.i3{
  height: 15px;
  width: 15px;
}
h2{
  color: black;
}
h2 , p {
  display: block;
}
img{
  box-shadow: 2px  #02010a;
}

@media (max-width: 900px) {
  #head{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 #navbar{
   display: flex;
   flex-flow: column nowrap;
  width: 90%;
  height: auto;
 }
 .madre{
   display: flex;
   justify-content: center;
 }
 div [class*='son']{display: flex;
   flex-flow: column;
   width: 90%;
   height: auto;
   text-align: center;
   align-items: center;
 }
 h2 , p {
   text-align: center;
 }

}
