#head{
  width: 80%;
  height: 20%;
  margin: 0 10% auto 10%;
  background-color: #5b7989;
  position: relative;
  border-radius: 10px;
}
#titulo{
  width: auto;
  height: auto;
}
#head  #titulo{
  position: absolute;
  top: 30%;
  left: 5%;
}
#tit {
  text-shadow: 1px 2px #02010a;
  color: white;
  text-align: center;
}
#navbar{
  width: 30%;
  height: auto;
}
#head #navbar{
  position: absolute;
  top: 30%;
  right: 5%;
}
#m1{
  text-decoration: none;
}
.imgprincipal{
  width: 80%;
  height:60%;
  margin: 0 10% auto 10%;
  background-color: #02010a;
}
.foto1{
  margin: auto;
}
