#head{
  width: 80%;
  height: 20%;
  margin: 0 10% auto 10%;
  background-color: #5b7989;
  position: relative;
  border-radius: 10px 10px 0 0;
}
#titulo{
  width: auto;
  height: auto;
}
#head  #titulo{
  position: absolute;
  top: 30%;
  left: 5%;
}
#tit {
  text-shadow: 1px 2px #02010a;
  color: white;
  text-align: left;
}
#navbar{
  width: 30%;
  height: auto;
}
#head #navbar{
  position: absolute;
  top: 30%;
  right: 0;
}
#m1{
  text-decoration: none;
}
.imgprincipal{
  width: 80%;
  height:auto;
  margin: 0 10% auto 10%;
  background-color: #82c3a6;
}
.foto1{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
a{
  color: white;
}
.imgsecundaria{
  width: 80%;
  height: auto;
  margin: 0 10% auto 10%;
  background-color: #d5c75f;
  border: 1px;
  display: flex;
  flex-flow: row wrap;
}
.i1{
  width: 80%;
  display: block;
  margin: auto;
  box-shadow: 5px 5px #82c3a6;
  border: 2px solid black;
}
.i2{
  width: 80%;
  display: block;
  margin: auto;
  box-shadow: 5px 5px #82c3a6;
  border: 2px solid black;
}

.bloque1{
  width: 50%;
  height: auto;
  order: 1;
}
.bloque2{
  width: 50%;
  height: auto;
  order:2;
}
figcaption{
  text-decoration: none;
  text-align: center;
  color: white;
}
div [class*= "bloque"]{
  min-width: 100px;
  flex: 1 2 40%;
}
.i1:hover{
  transform: rotate(10deg);
}
.i2:hover{
  transform: translate(20px,-5px);
}
.madre{
  width: 80%;
  height: 20%;
  margin: auto 10% 0 10%;
  background-color: #C6d5c5;
  position: relative;
  border-radius: 0 0 10px 10px;
  column-count: 4;
  column-width: 150px;
  column-gap: 2em;
}
div[class*="son"]{
  position: absolute;
  height: 25%;
}
.i3{
  height:10px;
  width: 10px;
}
